@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

html {
    font-size: 16px;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: start;
    width: 100%;
    height: auto;
    line-height: 1.5;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: start;
    width: 100%;
    height: auto;
    line-height: 1.5;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: start;
    width: 100%;
    height: auto;
    line-height: 1.5;
}

h4 {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: start;
    width: 100%;
    height: auto;
    line-height: 1.5;
}

h5 {
    font-size: 0.9rem;
    font-weight: 600;
    text-align: start;
    width: 100%;
    height: auto;
    line-height: 1.5;
}

h6 {
    font-size: 0.7rem;
    font-weight: 600;
    text-align: start;
    width: 100%;
    height: auto;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

p {
    font-size: 1rem;
    font-weight: unset;
    text-align: start;
    width: 100%;
    height: auto;
    line-height: 1.5;
}

h2 i[data-type="tooltip"] {
    margin-left: 0.5rem;
    opacity: 0.6;
    cursor: pointer;
    font-size: 1rem;
}

h2 i[data-type="tooltip"]:hover {
    opacity: 1;
}

input[type="submit"]:not(.btnSpinner),
input[type="reset"]:not(.btnSpinner),
button:not(.btnSpinner) {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    /* line-height: 1; */
    font-weight: 600;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: calc(2rem + 4px);
    cursor: pointer;
    width: max-content;
    gap: 0.25rem;
    padding: 0.5rem 0.5rem;
    white-space: nowrap;
}

input[type="submit"].flex:not(.btnSpinner),
input[type="reset"].flex:not(.btnSpinner),
button.flex {
    width: 100%;
}

input[type="submit"].theme-primary:not(.btnSpinner),
input[type="reset"].theme-primary:not(.btnSpinner),
button.theme-primary:not(.btnSpinner) {
    border: 2px solid var(--button-theme-primary-border);
    background: var(--button-theme-primary-background);
    color: var(--button-theme-primary-content);
}

input[type="submit"].theme-primary:not(.btnSpinner):hover:enabled,
input[type="reset"].theme-primary:not(.btnSpinner):hover:enabled,
button.theme-primary:not(.btnSpinner):hover:enabled {
    /* border: 2px solid var(--button-theme-primary-border-hover);
    background: var(--button-theme-primary-hover); */
    opacity: 0.9;
}

input[type="submit"].theme-primary:not(.btnSpinner):not(:disabled):active,
input[type="reset"].theme-primary:not(.btnSpinner):not(:disabled):active,
button.theme-primary:not(.btnSpinner):not(:disabled):active {
    /* border: 2px solid var(--button-theme-primary-border-active);
    background: var(--button-theme-primary-active); */
    opacity: 0.8;
}

input[type="submit"].theme-primary:not(.btnSpinner):disabled,
input[type="reset"].theme-primary:not(.btnSpinner):disabled,
button.theme-primary:not(.btnSpinner):disabled {
    opacity: 0.5;
    cursor: default;
}

input[type="submit"].primary:not(.btnSpinner),
input[type="reset"].primary:not(.btnSpinner),
button.primary:not(.btnSpinner) {
    border: 2px solid var(--button-primary-border);
    background: var(--button-primary-background);
    color: var(--button-primary-content);
}

input[type="submit"].primary:not(.btnSpinner):hover:enabled,
input[type="reset"].primary:not(.btnSpinner):hover:enabled,
button.primary:not(.btnSpinner):hover:enabled {
    /* border: 2px solid var(--button-primary-border-hover);
    background: var(--button-primary-hover); */
    opacity: 0.9;
}

input[type="submit"].primary:not(.btnSpinner):not(:disabled):active,
input[type="reset"].primary:not(.btnSpinner):not(:disabled):active,
button.primary:not(.btnSpinner):not(:disabled):active {
    /* border: 2px solid var(--button-primary-border-active);
    background: var(--button-primary-active); */
    opacity: 0.8;
}

input[type="submit"].primary:not(.btnSpinner):disabled,
input[type="reset"].primary:not(.btnSpinner):disabled,
button.primary:not(.btnSpinner):disabled {
    opacity: 0.5;
    cursor: default;
}

input[type="submit"].secondary:not(.btnSpinner),
input[type="reset"].secondary:not(.btnSpinner),
button.secondary {
    border: 2px solid var(--button-secondary-border);
    background: var(--button-secondary-background);
    color: var(--button-secondary-content);
}

input[type="submit"].secondary:not(.btnSpinner):hover:enabled,
input[type="reset"].secondary:not(.btnSpinner):hover:enabled,
button.secondary:hover:enabled {
    /* border: 2px solid var(--button-secondary-border-hover);
    background: var(--button-secondary-hover); */
    opacity: 0.9;
}

input[type="submit"].secondary:not(.btnSpinner):not(:disabled):active,
input[type="reset"].secondary:not(.btnSpinner):not(:disabled):active,
button.secondary:not(:disabled):active {
    /* border: 2px solid var(--button-secondary-border-active);
    background: var(--button-secondary-active); */
    opacity: 0.8;
}

input[type="submit"].secondary:not(.btnSpinner):disabled,
input[type="reset"].secondary:not(.btnSpinner):disabled,
button.secondary:disabled {
    opacity: 0.5;
    cursor: default;
}

input[type="submit"].success:not(.btnSpinner),
input[type="reset"].success:not(.btnSpinner),
button.success {
    border: 2px solid var(--button-success-border);
    background: var(--button-success-background);
    color: var(--button-success-content);
}

input[type="submit"].success:not(.btnSpinner):hover:enabled,
input[type="reset"].success:not(.btnSpinner):hover:enabled,
button.success:hover:enabled {
    /* border: 2px solid var(--button-success-border-hover);
    background: var(--button-success-hover); */
    opacity: 0.9;
}

input[type="submit"].success:not(.btnSpinner):not(:disabled):active,
input[type="reset"].success:not(.btnSpinner):not(:disabled):active,
button.success:not(:disabled):active {
    /* border: 2px solid var(--button-success-border-active);
    background: var(--button-success-active); */
    opacity: 0.8;
}

input[type="submit"].success:not(.btnSpinner):disabled,
input[type="reset"].success:not(.btnSpinner):disabled,
button.success:disabled {
    opacity: 0.5;
    cursor: default;
}

input[type="submit"].success-secondary:not(.btnSpinner),
input[type="reset"].success-secondary:not(.btnSpinner),
button.success-secondary {
    border: 2px solid var(--button-success-secondary-border);
    background: var(--button-success-secondary-background);
    color: var(--button-success-secondary-content);
}

input[type="submit"].success-secondary:not(.btnSpinner):hover:enabled,
input[type="reset"].success-secondary:not(.btnSpinner):hover:enabled,
button.success-secondary:hover:enabled {
    /* border: 2px solid var(--button-success-secondary-border-hover);
    background: var(--button-success-secondary-hover); */
    opacity: 0.9;
}

input[type="submit"].success-secondary:not(.btnSpinner):not(:disabled):active,
input[type="reset"].success-secondary:not(.btnSpinner):not(:disabled):active,
button.success-secondary:not(:disabled):active {
    /* border: 2px solid var(--button-success-secondary-border-active);
    background: var(--button-success-secondary-active); */
    opacity: 0.8;
}

input[type="submit"].success-secondary:not(.btnSpinner):disabled,
input[type="reset"].success-secondary:not(.btnSpinner):disabled,
button.success-secondary:disabled {
    opacity: 0.5;
    cursor: default;
}

input[type="submit"].warning:not(.btnSpinner),
input[type="reset"].warning:not(.btnSpinner),
button.warning {
    border: 2px solid var(--button-warning-border);
    background: var(--button-warning-background);
    color: var(--button-warning-content);
}

input[type="submit"].warning:not(.btnSpinner):hover:enabled,
input[type="reset"].warning:not(.btnSpinner):hover:enabled,
button.warning:hover:enabled {
    /* border: 2px solid var(--button-warning-border-hover);
    background: var(--button-warning-hover); */
    opacity: 0.9;
}

input[type="submit"].warning:not(.btnSpinner):not(:disabled):active,
input[type="reset"].warning:not(.btnSpinner):not(:disabled):active,
button.warning:not(:disabled):active {
    /* border: 2px solid var(--button-warning-border-active);
    background: var(--button-warning-active); */
    opacity: 0.8;
}

input[type="submit"].warning:not(.btnSpinner):disabled,
input[type="reset"].warning:not(.btnSpinner):disabled,
button.warning:disabled {
    opacity: 0.5;
    cursor: default;
}

input[type="submit"].warning-secondary:not(.btnSpinner),
input[type="reset"].warning-secondary:not(.btnSpinner),
button.warning-secondary {
    border: 2px solid var(--button-warning-secondary-border);
    background: var(--button-warning-secondary-background);
    color: var(--button-warning-secondary-content);
}

input[type="submit"].warning-secondary:not(.btnSpinner):hover:enabled,
input[type="reset"].warning-secondary:not(.btnSpinner):hover:enabled,
button.warning-secondary:hover:enabled {
    /* border: 2px solid var(--button-warning-secondary-border-hover);
    background: var(--button-warning-secondary-hover); */
    opacity: 0.9;
}

input[type="submit"].warning-secondary:not(.btnSpinner):not(:disabled):active,
input[type="reset"].warning-secondary:not(.btnSpinner):not(:disabled):active,
button.warning-secondary:not(:disabled):active {
    /* border: 2px solid var(--button-warning-secondary-border-active);
    background: var(--button-warning-secondary-active); */
    opacity: 0.8;
}

input[type="submit"].warning-secondary:not(.btnSpinner):disabled,
input[type="reset"].warning-secondary:not(.btnSpinner):disabled,
button.warning-secondary:disabled {
    opacity: 0.5;
    cursor: default;
}

input[type="submit"].alerting:not(.btnSpinner),
input[type="reset"].alerting:not(.btnSpinner),
button.alerting {
    border: 2px solid var(--button-alerting-border);
    background: var(--button-alerting-background);
    color: var(--button-alerting-content);
}

input[type="submit"].alerting:not(.btnSpinner):hover:enabled,
input[type="reset"].alerting:not(.btnSpinner):hover:enabled,
button.alerting:hover:enabled {
    /* border: 2px solid var(--button-alerting-border-hover);
    background: var(--button-alerting-hover); */
    opacity: 0.9;
}

input[type="submit"].alerting:not(.btnSpinner):not(:disabled):active,
input[type="reset"].alerting:not(.btnSpinner):not(:disabled):active,
button.alerting:not(:disabled):active {
    /* border: 2px solid var(--button-alerting-border-active);
    background: var(--button-alerting-active); */
    opacity: 0.8;
}

input[type="submit"].alerting:not(.btnSpinner):disabled,
input[type="reset"].alerting:not(.btnSpinner):disabled,
button.alerting:disabled {
    opacity: 0.5;
    cursor: default;
}

input[type="submit"].alerting-secondary:not(.btnSpinner),
input[type="reset"].alerting-secondary:not(.btnSpinner),
button.alerting-secondary {
    border: 2px solid var(--button-alerting-secondary-border);
    background: var(--button-alerting-secondary-background);
    color: var(--button-alerting-secondary-content);
}

input[type="submit"].alerting-secondary:not(.btnSpinner):hover:enabled,
input[type="reset"].alerting-secondary:not(.btnSpinner):hover:enabled,
button.alerting-secondary:hover:enabled {
    /* border: 2px solid var(--button-alerting-secondary-border-hover);
    background: var(--button-alerting-secondary-hover); */
    opacity: 0.9;
}

input[type="submit"].alerting-secondary:not(.btnSpinner):not(:disabled):active,
input[type="reset"].alerting-secondary:not(.btnSpinner):not(:disabled):active,
button.alerting-secondary:not(:disabled):active {
    /* border: 2px solid var(--button-alerting-secondary-border-active);
    background: var(--button-alerting-secondary-active); */
    opacity: 0.8;
}

input[type="submit"].alerting-secondary:not(.btnSpinner):disabled,
input[type="reset"].alerting-secondary:not(.btnSpinner):disabled,
button.alerting-secondary:disabled {
    opacity: 0.5;
    cursor: default;
}

input[type="radio"] {
    display: none;
}

label.radio {
    border: 2px solid var(--button-secondary-border);
    background: var(--button-secondary-background);
    color: var(--button-secondary-content);
    outline: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: calc(2rem + 4px);
    cursor: pointer;
    width: max-content;
    gap: 0.25rem;
    padding: 0.5rem 0.5rem;
    white-space: nowrap;
}

label.radio.alignLeft {
    justify-content: flex-start;
}

label.radio.flex {
    width: 100%;
}

label.radio:before {
    content: '\f111';
    font-family: 'Font Awesome 5 Pro';
    font-size: 1em;
    margin-right: 0.25rem;
}

input[type="radio"]:hover+label.radio {
    border: 2px solid var(--button-secondary-border-hover);
    background: var(--button-secondary-hover);
}

input[type="radio"]:checked+label.radio {
    border: 2px solid var(--button-primary-border);
    background: var(--button-primary-background);
    color: var(--button-primary-content);
}

input[type="radio"]:checked+label.radio:before {
    content: '\f058';
    font-family: 'Font Awesome 5 Pro';
    font-size: 1em;
    color: var(--button-primary-content);
}

input[type="radio"]:disabled+label.radio {
    opacity: 0.5;
    cursor: default;
}

input[type="checkbox"].tableCheckbox::after {
    content: '';
    width: 1.25rem;
    height: 1.25rem;
    font-size: 1rem;
    position: absolute;
    background: var(--background);
    color: var(--font);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-0.15rem);
    border-radius: 3px;
    text-align: center;
}

input[type="checkbox"].tableCheckbox:checked {
    background-color: var(--blue1);
}

input[type="checkbox"].tableCheckbox:disabled {
    cursor: default;
    opacity: 0.5;
}

input[type="checkbox"].tableCheckbox:not(:disabled):hover {
    cursor: pointer;
}

input[type="checkbox"].tableCheckbox:checked::after {
    content: '\f00c';
    font-family: 'Font Awesome 5 Pro';
}

input[type="checkbox"]:not(.tableCheckbox) {
    display: none;
}

label.checkbox {
    border: 2px solid var(--button-secondary-border);
    background: var(--button-secondary-background);
    color: var(--button-secondary-content);
    outline: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: calc(2rem + 4px);
    cursor: pointer;
    width: max-content;
    gap: 0.25rem;
    padding: 0.5rem 0.5rem;
    white-space: nowrap;
}

label.checkbox.alignLeft {
    justify-content: flex-start;
}

label.checkbox.flex {
    width: 100%;
}

label.checkbox:before {
    content: '\f0c8';
    font-family: 'Font Awesome 5 Pro';
    font-size: 1em;
    margin-right: 0.25rem;
}

input[type="checkbox"]:hover+label.checkbox {
    border: 2px solid var(--button-secondary-border-hover);
    background: var(--button-secondary-hover);
}

input[type="checkbox"]:checked+label.checkbox {
    border: 2px solid var(--button-primary-border);
    background: var(--button-primary-background);
    color: var(--button-primary-content);
}

input[type="checkbox"]:checked+label.checkbox:before {
    content: '\f14a';
    font-family: 'Font Awesome 5 Pro';
    font-size: 1em;
    color: var(--button-primary-content);
}

input[type="checkbox"]:disabled+label.checkbox {
    opacity: 0.5;
    cursor: default;
}

button.borderless {
    color: var(--font);
    background: transparent;
}

button.borderless:hover:enabled {
    font-weight: 600;
    opacity: 0.9;
}

button.borderless:not(:disabled):active {
    opacity: 0.8;
}

button.borderless:disabled {
    opacity: 0.5;
    cursor: default;
}

button.btnSpinner {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: auto;
    cursor: pointer;
    width: max-content;
}

button.btnSpinner.flex {
    width: 100%;
}

button.btnSpinner.primary {
    background: var(--button-primary-background);
    color: var(--button-primary-content);
}

button.btnSpinner.primary:hover:enabled {
    /* background: var(--button-primary-hover); */
    opacity: 0.9;
}

button.btnSpinner.primary:not(:disabled):active {
    /* background: var(--button-primary-active); */
    opacity: 0.8;
}

button.btnSpinner.primary:disabled {
    opacity: 0.5;
    cursor: default;
}

button.btnSpinner.success {
    background: var(--button-success-background);
    color: var(--button-success-content);
}

button.btnSpinner.success:hover:enabled {
    background: var(--button-success-hover);
}

button.btnSpinner.success:not(:disabled):active {
    background: var(--button-success-active);
}

button.btnSpinner.success:disabled {
    opacity: 0.5;
    cursor: default;
}

button.btnSpinner.error {
    background: var(--button-warning-background);
    color: var(--button-warning-content);
}

button.btnSpinner.error:hover:enabled {
    background: var(--button-warning-hover);
}

button.btnSpinner.error:not(:disabled):active {
    background: var(--button-warning-active);
}

button.btnSpinner.error:disabled {
    opacity: 0.5;
    cursor: default;
}

button.btnSpinner .buttonSpinner,
button.btnSpinner .text {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.5rem;
    white-space: nowrap;
    font-weight: 600;
    font-weight: 600;
}

button.btnSpinner .buttonSpinner.show,
button.btnSpinner .text.show {
    visibility: visible;
}

button.btnSpinner .text {
    gap: 0.25rem;
}

button.btnSpinner .buttonSpinner {
    position: absolute;
    top: 0;
    left: 0;
}

button.btnSpinner .buttonSpinner i {
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

div.btn {
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    height: calc(2rem + 4px);
    border: 2px solid var(--button-secondary-border);
    background: var(--button-secondary-background);
    color: var(--button-secondary-content);
    cursor: pointer;
}

div.btn.disabled {
    cursor: default;
    opacity: 0.5;
}

div.btn.withText {
    width: max-content;
}

div.btn:not(.withText) {
    min-width: calc(2rem + 4px);
    width: calc(2rem + 4px);
    aspect-ratio: 1 / 1;
}

div.btn:not(.disabled):hover {
    border: 2px solid var(--button-secondary-border-hover);
    background: var(--button-secondary-hover);
    opacity: 0.9;
}

div.btn.success {
    border: 2px solid var(--button-success-secondary-border);
    background: var(--button-success-secondary-background);
    color: var(--button-success-secondary-content);
}

div.btn:not(.disabled).success:hover {
    border: 2px solid var(--button-success-border);
    background: var(--button-success-background);
    color: var(--button-success-content);
}

div.btn.warning {
    border: 2px solid var(--button-warning-secondary-border);
    background: var(--button-warning-secondary-background);
    color: var(--button-warning-secondary-content);
}

div.btn:not(.disabled).warning:hover {
    border: 2px solid var(--button-warning-border);
    background: var(--button-warning-background);
    color: var(--button-warning-content);
}

div.btn.alerting {
    border: 2px solid var(--button-alerting-secondary-border);
    background: var(--button-alerting-secondary-background);
    color: var(--button-alerting-secondary-content);
}

div.btn:not(.disabled).alerting:hover {
    border: 2px solid var(--button-alerting-border);
    background: var(--button-alerting-background);
    color: var(--button-alerting-content);
}

div.btn:not(.disabled):active {
    opacity: 0.8;
}

input:disabled,
input:read-only:not([type="submit"]):not([type="reset"]):not(.tableCheckbox),
select:disabled,
textarea:disabled,
textarea:read-only {
    opacity: 0.5;
    cursor: default;
}

textarea {
    width: 100%;
    min-height: calc(3rem + 1rem + 4px);
    resize: none;
    overflow: overlay;
}

textarea::-webkit-scrollbar {
    width: 10px;
}

textarea::-webkit-scrollbar-track {
    border-radius: 3px;
    background: var(--scrollbar-track);
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: var(--scrollbar-thumb);
}

textarea::-webkit-scrollbar-thumb:hover {
    border-radius: 3px;
    background: var(--scrollbar-thumb-hover);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="submit"],
input[type="reset"],
textarea {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    color: var(--font);
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 1;
    height: calc(2rem + 4px);
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="submit"],
input[type="reset"],
textarea {
    padding: 0.5rem 0.5rem;
}

.passwordField input:enabled {
    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="datetime-local"],
input[type="time"],
textarea {
    background: var(--background);
    border: 2px solid var(--background);
}

/* input[type="submit"]:enabled,
input[type="reset"]:enabled {
    cursor: pointer;
} */

/* input[type="submit"]:enabled {
    background: var(--button-primary-background);
    border: 2px solid var(--button-primary-border);
    color: var(--button-primary-content);
}

input[type="submit"]:enabled:hover {
    background: var(--button-primary-hover);
    border: 2px solid var(--button-primary-border-hover);
}

input[type="reset"]:enabled {
    background: var(--button-secondary-background);
    border: 2px solid var(--button-secondary-border);
    color: var(--button-secondary-content);
}

input[type="reset"]:enabled:hover {
    background: var(--button-secondary-hover);
    border: 2px solid var(--button-secondary-border-hover);
} */

input,
.passwordField {
    width: max-content;
}

.passwordField {
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.passwordField i {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.75rem;
    font-size: 1rem;
    cursor: pointer;
}

.passwordField i.show::before {
    content: "\f070";
}

input.flex,
.passwordField.flex,
.passwordField.flex input {
    width: 100%;
}

input.fixed {
    width: calc(var(--width) * 1rem + 1rem);
}

input:disabled,
select:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="time"]:focus,
textarea:focus {
    border: 2px solid var(--blue1);
}

input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
input[type="number"].error,
input[type="date"].error,
input[type="datetime-local"].error,
input[type="time"].error,
select.error,
textarea.error,
label.radio.error,
label.checkbox.error,
textarea.error {
    border: 2px solid var(--red3);
}

input[type="number"] {
    text-align: end;
}

[data-theme='light'] input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

[data-theme='dark'] input::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.select {
    width: max-content;
    height: auto;
    padding: none;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

.select.flex {
    width: 100%;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    color: var(--font);
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 1;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    height: calc(2rem + 4px);
    background: var(--background);
    border: 2px solid var(--background);
    position: relative;
    cursor: pointer;
}

.select select {
    width: 100%;
}

.select:not(.flex) select {
    width: max-content;
}

.select::before {
    content: '\f0dc';
    font-family: 'Font Awesome 5 Pro';
    font-size: 1rem;
    font-weight: 900;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem;
    color: var(--font);
    z-index: 1111;
    pointer-events: none;
}

select:focus {
    border: 2px solid var(--blue1);
}

select option:checked {
    background-color: var(--hover);
}

span.tag:not(.token) {
    width: max-content;
    height: auto;
    max-height: 1.5rem !important;
    padding: 0.25rem 0.5rem;
    background: var(--hover);
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 1;
    white-space: nowrap;
    cursor: default;
    user-select: none;
    -ms-user-select: none;
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

span.tag:not(.token).isReceived {
    background: var(--blue4);
    color: var(--white1);
}

span.tag:not(.token).isPreparing {
    background: var(--blue2);
    color: var(--white1);
}

span.tag:not(.token).isReady {
    background: var(--green1);
    color: var(--white1);
}

span.tag:not(.token).isFinished {
    background: var(--green3);
    color: var(--white1);
}

span.tag:not(.token).isCanceled {
    background: var(--red3);
    color: var(--white1);
}

span.tag:not(.token).notScheduled {
    background: var(--black4);
    color: var(--white1);
}

span.tag:not(.token).isScheduled {
    background: var(--purple1);
    color: var(--white1);
}

span.tag:not(.token).isPaid {
    background: var(--green3);
    color: var(--white1);
}

span.tag:not(.token).notPaid {
    background: var(--yellow3);
    color: var(--white1);
}

span.tag:not(.token).isRefund {
    background: var(--red3);
    color: var(--white1);
}

.table {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: overlay;
    /* border-radius: 0.5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); */
}

.table::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
}

.table::-webkit-scrollbar-corner {
    background: var(--scrollbar-track);
    border-bottom-right-radius: 0.5rem;
}

.table::-webkit-scrollbar-track {
    border-radius: 0.5rem;
    background: var(--scrollbar-track);
}

.table::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background: var(--scrollbar-thumb);
}

.table::-webkit-scrollbar-thumb:hover {
    border-radius: 0.5rem;
    background: var(--scrollbar-thumb-hover);
}

.table table {
    width: 100%;
    height: auto;
    display: table;
    border-collapse: collapse;
    font-size: 1rem;
    color: var(--font);
}

.table table.truncated {
    table-layout: fixed;
}

.table table:not(.striped) tbody {
    border-top: 2px solid var(--table-border);
}

.table table:not(.striped) tbody tr td.subject {
    border-right: 2px solid var(--table-border);
}

.table table:not(.striped) thead tr th.isFixed,
.table table:not(.striped) tbody tr td.isFixed {
    position: sticky;
    left: 0;
    z-index: 1;
}

.table table:not(.striped) tfoot {
    border-top: 1px solid var(--table-border);
}

.table table thead tr,
.table table tbody tr {
    width: 100%;
    height: auto;
}

.table table.selectable tbody tr,
.table table tbody tr.selectable {
    cursor: pointer;
}

.table table thead tr th,
.table table tbody tr td,
.table table tfoot tr th {
    position: relative;
    padding: 0.5rem;
    white-space: nowrap;
    text-align: start;
    vertical-align: middle;
}

.table table.relaxed thead tr th,
.table table.relaxed tbody tr td,
.table table.relaxed tfoot tr th {
    padding: 1rem 0.5rem;
}

.table table.narrow thead tr th,
.table table.narrow tbody tr td,
.table table.narrow tfoot tr th {
    padding: 0.25rem 0.5rem;
}

.table table tbody tr td.wordWrap {
    white-space: normal;
}

.table table.truncated tbody tr td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table table tbody tr td {
    background: var(--tbody);
}

.table table tbody tr:hover td {
    background: var(--tr-hover);
}

.table table thead tr th.alignLeft,
.table table tbody tr td.alignLeft,
.table table tfoot tr th.alignLeft {
    text-align: start;
}

.table table thead tr th.alignCenter,
.table table tbody tr td.alignCenter,
.table table tfoot tr th.alignCenter {
    text-align: center;
}

.table table thead tr th.alignRight,
.table table tbody tr td.alignRight,
.table table tfoot tr th.alignRight {
    text-align: end;
}

.table table tbody tr td.isEmpty {
    color: var(--white5);
    font-weight: 600;
}

.table table tbody tr td.increase {
    color: var(--green3);
}

.table table tbody tr td.decrease {
    color: var(--red3);
}

.table table tbody tr td.isEmpty::after {
    content: '-';
    opacity: 0.8;
}

.table table thead tr th {
    background: var(--background2);
}

.table table.striped thead tr,
.table table.striped tbody tr td.subject {
    background: var(--striped-thead);
}

.table table tbody tr td.subject {
    font-weight: bold;
}

.table table.striped tbody tr:nth-child(odd) td {
    background: var(--tr-odd);
}

.table table.striped tbody tr:nth-child(odd):hover td {
    background: var(--tr-odd-hover);
}

.table table.striped tbody tr:nth-child(even) td {
    background: var(--tr-even);
}

.table table.striped tbody tr:nth-child(even):hover td {
    background: var(--tr-even-hover);
}

.table table tbody tr td.mono {
    text-align: end;
    font-family: 'Roboto Mono', monospace;
}

.table table thead tr th i[data-type="tooltip"],
.table table tbody tr td i[data-type="tooltip"] {
    margin-left: 0.5rem;
    opacity: 0.6;
    cursor: pointer;
}

.table table thead tr th i[data-type="tooltip"]:hover,
.table table tbody tr td i[data-type="tooltip"]:hover {
    opacity: 1;
}

.pop {
    width: auto;
    max-width: 100%;
    height: auto;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    display: none;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
    /* transition: all 0.3s linear; */
}

.pop.flex {
    width: 100%;
}

.pop.show {
    display: flex;
    -webkit-animation: slide-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    /* animation-delay: attr(data-delay)*0.3s; */
}

.pop.fadeOut {
    /* display: flex; */
    -webkit-animation: fadeOut 0.3s both;
    animation: fadeOut 0.3s both;
}

@-webkit-keyframes slide-top {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-top {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeOut {
    0% {
        display: flex;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        display: flex;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

.pop.warning {
    color: var(--popup-warning-content);
    background: var(--popup-warning-background);
    /* border: 2px solid var(--red5); */
}

.pop.success {
    color: var(--popup-success-content);
    background: var(--popup-success-background);
    /* border: 2px solid var(--green5); */
}

.pop.alerting {
    color: var(--popup-alerting-content);
    background: var(--popup-alerting-background);
    /* border: 2px solid var(--alert-border); */
}

.pop .icon {
    width: max-content;
    height: auto;
}

.pop .popContent {
    width: 100%;
    height: auto;
    text-align: start;
    line-height: 1.5;
}

.modal {
    height: auto;
    display: none;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7); */
    padding: 1rem;
}

.modal.show {
    display: flex;
    pointer-events: fill;
}

.modal {
    background: var(--background2);
    /* border: 3px solid var(--background); */
}

.modal.success {
    background: var(--alert-success-background);
    /* border: 3px solid var(--alert-success-border); */
}

.modal.warning {
    background: var(--alert-warning-background);
    /* border: 3px solid var(--alert-warning-border); */
}

.modal.alerting {
    background: var(--alert-alerting-background);
    /* border: 3px solid var(--alert-alerting-border); */
}

.modal .topbar,
.modal .details,
.modal .functions {
    width: 100%;
}

.modal .topbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0rem;
    height: 40px;
}

.modal .topbar .subject {
    width: 100%;
    height: auto;
    font-size: 1.25rem;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--font);
}

.modal.success .topbar .subject {
    color: var(--alert-success-content);
}

.modal.warning .topbar .subject {
    color: var(--alert-warning-content);
}

.modal.alerting .topbar .subject {
    color: var(--alert-alerting-content);
}

.modal .topbar .closeBtn {
    /* width: 40px;
    height: 40px; */
    width: 2rem;
    height: 2rem;
    aspect-ratio: 1 / 1;
    font-size: 1rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.modal .topbar .closeBtn {
    color: var(--font);
    border: 1px solid var(--hover);
}

.modal .topbar .closeBtn:hover {
    border: 1px solid var(--hover);
    background: var(--hover);
}

.modal.success .topbar .closeBtn {
    color: var(--alert-success-content);
    border: 1px solid var(--alert-success-border);
}

.modal.success .topbar .closeBtn:hover {
    border: 1px solid var(--alert-success-border);
    background: var(--alert-success-border);
}

.modal.warning .topbar .closeBtn {
    color: var(--alert-warning-content);
    border: 1px solid var(--alert-warning-border);
}

.modal.warning .topbar .closeBtn:hover {
    border: 1px solid var(--alert-warning-border);
    background: var(--alert-warning-border);
}

.modal.alerting .topbar .closeBtn {
    color: var(--alert-alerting-content);
    border: 1px solid var(--alert-alerting-border);
}

.modal.alerting .topbar .closeBtn:hover {
    border: 1px solid var(--alert-alerting-border);
    background: var(--alert-alerting-border);
}

.modal .details {
    color: var(--font);
    padding: 0rem;
}

.modal.success .details {
    color: var(--alert-success-content);
}

.modal.warning .details {
    color: var(--alert-warning-content);
}

.modal.alerting .details {
    color: var(--alert-alerting-content);
}

.modal .details {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 1.5rem;
}

.modal .details::-webkit-scrollbar {
    width: 5px;
}

.modal .details::-webkit-scrollbar-track {
    border-radius: 3px;
    background: transparent;
}

.modal .details::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: var(--scrollbar-thumb);
}

.modal .details::-webkit-scrollbar-thumb:hover {
    border-radius: 3px;
    background: var(--scrollbar-thumb-hover);
}

.modal .details .inputField {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}

.modal .details .inputField .inputTitle {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
}

.modal .details .inputField .inputTitle .required {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: auto;
    margin-left: 0.5rem;
    font-size: 0.75rem;
    line-height: 1;
    opacity: 0.7;
    background: var(--font);
    color: var(--background);
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.modal .details .inputField .inputs {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.modal .details .inputField .flexInputs {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.modal .details .inputField .description {
    width: 100%;
    height: auto;
    opacity: 0.7;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.modal .details .inputField i {
    font-size: 0.75rem;
    line-height: 1.25;
}

.modal .details .inputField .descriptionContent {
    font-size: 0.75rem;
    line-height: 1.25;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

.modal .functions {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 0rem;
    height: 40px;
}

.drawer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: flex-start;
    align-items: center;
    color: var(--font);
    background: var(--background2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    top: 0;
    z-index: 99999;
}

.drawer header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid var(--table-border);
}

.drawer .drawerBody {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: calc(100vh - 77px);
    overflow-x: hidden;
    overflow-y: overlay;
    padding: 1rem;
    gap: 1.5rem;
}

.drawer .drawerBody::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.drawer .drawerBody::-webkit-scrollbar-track {
    border-radius: 3px;
    background: var(--scrollbar-track);
}

.drawer .drawerBody::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: var(--scrollbar-thumb);
}

.drawer .drawerBody::-webkit-scrollbar-thumb:hover {
    border-radius: 3px;
    background: var(--scrollbar-thumb-hover);
}

.drawer .drawerBody .inputField {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}

.drawer .drawerBody .flexInputField {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.drawer .drawerBody .inputField .inputTitle {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
}

.drawer .drawerBody .inputField .inputTitle .required {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: auto;
    margin-left: 0.5rem;
    font-size: 0.75rem;
    line-height: 1;
    opacity: 0.7;
    background: var(--font);
    color: var(--background);
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.drawer .drawerBody .inputField .inputs {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.drawer .drawerBody .inputField .flexInputs {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.drawer .drawerBody .inputField .description {
    width: 100%;
    height: auto;
    opacity: 0.7;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.drawer .drawerBody .inputField i {
    font-size: 0.75rem;
    line-height: 1.25;
}

.drawer .drawerBody .inputField .descriptionContent {
    font-size: 0.75rem;
    line-height: 1.25;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

.drawer .drawerFunc {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

blockquote {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1rem 1rem calc(1rem + 5px);
    background: var(--blockquote-background);
    color: var(--blockquote-content);
    font-size: 1rem;
    line-height: 1;
    border-radius: 0.5rem;
    overflow: hidden;
}

blockquote::before {
    content: '';
    width: 5px;
    height: 100%;
    background: var(--blockquote-border);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.pagination {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.pagination ul {
    width: max-content;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.pagination ul li {
    width: max-content;
    min-width: 30px;
    height: 30px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
}

.pagination ul li.active {
    background: var(--blue2);
    color: var(--white1);
}

.pagination ul li.active:hover {
    background: var(--blue1);
}

.pagination ul li:not(.disabled, .active):hover {
    background: var(--hover);
}

.pagination ul li.disabled {
    opacity: 0.5;
    cursor: default;
}

/* Mobile */
@media (max-width: 480px) {

    .modal,
    .modal.large,
    .modal.medium,
    .modal.small {
        width: 100%;
        max-width: calc(100vw - 60px);
        max-height: calc(100vh - 60px);
    }

    .modal .details {
        max-height: calc(100vh - 60px -40px - 40px);
    }

    .drawer {
        min-width: calc(100vw - 40px);
        width: calc(100vw - 40px);
        max-width: calc(100vw - 40px);
        left: calc(40px - 100vw);
    }

    .drawer.show {
        left: 0;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 760px) {

    .modal,
    .modal.large,
    .modal.medium,
    .modal.small {
        width: 100%;
        max-width: calc(100vw - 60px);
        max-height: calc(100vh - 60px);
    }

    .modal .details {
        max-height: calc(100vh - 60px -40px - 40px);
    }

    .drawer {
        min-width: calc(100vw - 40px);
        width: calc(100vw - 40px);
        max-width: calc(100vw - 40px);
        left: calc(40px - 100vw);
    }

    .drawer.show {
        left: 0;
    }
}

/* Large tablet */
@media (min-width: 761px) and (max-width: 1440px) {

    .modal,
    .modal.large {
        max-width: 700px;
        width: 700px;
        min-width: 700px;
        max-height: 650px;
    }

    .modal .details,
    .modal.modal.large .details {
        max-height: calc(650px -40px - 40px);
    }

    .modal.medium {
        max-width: 550px;
        width: 550px;
        min-width: 550px;
        max-height: 650px;
    }

    .modal.medium .details {
        max-height: calc(650px -40px - 40px);
    }

    .modal.small {
        max-width: 350px;
        width: 350px;
        min-width: 350px;
        max-height: 650px;
    }

    .modal.small .details {
        max-height: calc(650px -40px - 40px);
    }

    .drawer {
        min-width: 650px;
        width: 650px;
        max-width: 650px;
        left: -650px;
    }

    .drawer.show {
        left: 0;
    }
}

/* Desktop */
@media (min-width: 1441px) {

    .modal,
    .modal.large {
        max-width: 1000px;
        width: 1000px;
        min-width: 1000px;
        max-height: 650px;
    }

    .modal .details,
    .modal.large .details {
        max-height: calc(650px -40px - 40px);
    }

    .modal.medium {
        max-width: 700px;
        width: 700px;
        min-width: 700px;
        max-height: 650px;
    }

    .modal.medium .details {
        max-height: calc(650px -40px - 40px);
    }

    .modal.small {
        max-width: 550px;
        width: 550px;
        min-width: 550px;
        max-height: 650px;
    }

    .modal.small .details {
        max-height: calc(650px -40px - 40px);
    }

    .drawer {
        min-width: 650px;
        width: 650px;
        max-width: 650px;
        left: -650px;
    }

    .drawer.show {
        left: 0;
    }
}