footer {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 0rem;
    color: var(--font);
}

footer p {
    text-align: center;
}

footer a {
    color: var(--link-color);
}

footer a:hover {
    color: var(--link-hover);
}

/* Mobile */
@media (max-width: 480px) {
    footer p {
        font-size: 0.75rem;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 760px) {
    footer p {
        font-size: 0.75rem;
    }
}

/* Large tablet */
@media (min-width: 761px) and (max-width: 1440px) {
    footer p {
        font-size: 1rem;
    }
}

/* Desktop */
@media (min-width: 1441px) {
    footer p {
        font-size: 1rem;
    }
}