header {
    width: 100%;
    height: auto;
    padding: 1.5rem 0rem;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

header .breadcrumb {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

header .breadcrumb ul {
    width: max-content;
    max-width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

header .breadcrumb ul {
    gap: 1.5rem;
}

header .breadcrumb ul li {
    width: max-content;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

header .breadcrumb ul li:not(:last-child)::after {
    display: flex;
    position: absolute;
    content: '>';
    font-size: 1rem;
    line-height: 1;
    right: -1rem;
}

header .breadcrumb ul li a {
    width: max-content;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    color: var(--font);
    text-decoration: none;
    opacity: 0.7;
    padding: 0.25rem;
    font-size: 1rem;
    line-height: 1;
}

header .breadcrumb ul li.active a {
    opacity: 1;
    font-weight: 600;
}

header .breadcrumb ul li a:hover,
header .breadcrumb ul li.active a:hover {
    opacity: 1;
}

header button {
    position: absolute !important;
    right: 1rem;
}