.popupMessage {
    width: 100%;
    max-width: 750px;
    height: auto;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    top: 1rem;
    z-index: 999999;
    overflow: visible;
    /* pointer-events: none; */
}